<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atata" version="1.0.0" targetFramework="net472" />
  <package id="Atata.WebDriverExtras" version="1.2.0" targetFramework="net472" />
  <package id="NUnit" version="3.11.0" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="3.13.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="72.0.3626.69" targetFramework="net472" />
  <package id="Selenium.WebDriver.IEDriver" version="3.141.59" targetFramework="net472" />
</packages>